<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343616982546-hud2rnup3t00nd2bqe89vj58lelj7hou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343616982546-hud2rnup3t00nd2bqe89vj58lelj7hou</string>
	<key>API_KEY</key>
	<string>AIzaSyALqAVq8M_Lqo7oBgXmbnsEMRxSdAZtSzU</string>
	<key>GCM_SENDER_ID</key>
	<string>343616982546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteTaker</string>
	<key>PROJECT_ID</key>
	<string>flutter-note-taker-b2804</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-note-taker-b2804.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343616982546:ios:73e4debb7fe70ec7d392cb</string>
</dict>
</plist>